html{
    box-sizing: border-box;
}

body label{
    font-size: 14px !important;
}

h1{
    margin: 45px 0 10px  !important;
}

.head-content{
    margin-top: 3em;
}

.table-header{
    margin: 30px 0 15px;
    padding: 0px;
}

i{
    align-items: center;
}

.table-responsive{
    border-radius: 5px;
}

thead th{
    padding: 15px 15px 15px 40px !important;
    
}

tbody td,th{
    vertical-align: middle !important;
    padding: 15px 15px 15px 40px !important;
    border-bottom: 1px solid #dddddd;
}

tbody td ul li{
    list-style-type:circle!important;
}
