html{
    box-sizing: border-box;
}

.table-header{
    margin: 30px 0 15px;
    padding: 0px;
}

i{
    align-items: center;
}

.table-responsive{
    border-radius: 5px;
}

thead th{
    padding: 21px 10px 21px 40px !important;
}

tbody td{
    padding: 16px 10px 16px 40px !important;
    border-bottom: 1px solid #dddddd;
}
