html, body {
    box-sizing: border-box;
    background-color: #fff;
    /* color: #636b6f; */
    font-family: sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    /* font-size: 16px; */
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}



.modal-header{
    border: none !important;
    text-align: center;
}

.btn-forgot{
    float: right;
    padding: 0px !important;
}

.modal-content .close{
    transform: translateX(-50%);
    position: relative;
    color: black;
    box-shadow: none;
    line-height: 0px;
    height: 0px;
    width: 0px;
    right: 0%;
    left: 0%;
    top:0px;
    margin-top: 2px;

}

.modal-header h3{
    text-align: center;
}
*,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      background:#f5f5f5;
      width:auto;
      height:auto;
    }
    
    .slider-wrapper {
      width:100%;
      overflow: hidden;
      padding: 25px 20px 20px;
      white-space: wrap;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-bottom: 5px;
    }

    h4 {
      text-align: center;
    }

    p2 {
      display: inline-block;
      text-align: center;
      font-size: 14px;
    }

    .prev {
      color: black;
      position: absolute;
      top: 45%;
      left: -10px;
      font-size: 1.5em;

      :hover {
        cursor: pointer;
        color: black;
      }
    }

    .next {
      color: black;
      position: absolute;
      top: 45%;
      right: 10px;
      font-size: 1.5em;

      :hover {
        cursor: pointer;
        color: black;
      }
    }

    .fact {
      vertical-align: top;
      display: inline-block;
      height: auto;
      width: 200px;
      background-color: white;
      padding: 20px;
      margin: 0px 25px 0px 5px;
      border-radius: 15px;
      box-shadow:
        0 1.6px 3.6px rgba(0, 0, 0, 0.01),
        0 4.5px 10px rgba(0, 0, 0, 0.015),
        0 10.9px 24.1px rgba(0, 0, 0, 0.02),
        0 36px 80px rgba(0, 0, 0, 0.03);
    }
/* .modal{
overflow:hidden;
}
.modal-body{
overflow:auto;
} */